<div class="row">
    <div class="chatArea col-md-12">
        <div class="col-sm-3">
            <div class="well">
                <span ng-if="!vm.onlineUsers.length" class="text-muted">No users online</span>
                <input ng-if="vm.onlineUsers.length" class="people-search" type="text" ng-model="vm.search" placeholder="search user"/>
                <ul class="list-group" ng-if="vm.onlineUsers.length">
                    <li class="people-list-item" ng-repeat="user in filterUsers  = (vm.onlineUsers | fuzzyBy: 'username': vm.search)">
                        <a href="" class="list-group-item" ng-click="vm.selectUser(user)">
                            <img src="http://lorempixel.com/32/32/people/" alt="avatar"
                                 class="img-circle"/>
                            <strong ng-if="vm.hasNewMessage(user)">{{user.username}}</strong>
                            <span ng-if="!vm.hasNewMessage(user)">{{user.username}}</span>
                        </a>
                    </li>
                    <li ng-if="filterUsers.length === 0 && vm.search !==''">No results</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="well" ng-if="!vm.selectedUser">
                <h2 class="text-muted">Please select a chat buddy</h2>
            </div>
            <div class="well chat" ng-if="vm.selectedUser">
                <div class="chat-header clearfix">
                    <img src="http://lorempixel.com/64/64/people/"
                         class="img-circle"
                         alt="avatar"/>

                    <div class="chat-about">
                        <div class="chat-with">{{vm.selectedUser.username}}</div>
                        <div class="chat-num-messages">already {{vm.messages[vm.selectedUser.id].length}} messages</div>
                    </div>
                    <i class="fa fa-star"></i>
                </div> <!-- end chat-header -->

                <div class="chat-history clearfix">
                    <messages messages="vm.messages[vm.selectedUser.id]"></messages>
                </div><!-- end chat-history -->

                <div class="chat-message ">
                <textarea
                        name="message-to-send" id="message-to-send" placeholder="Type your message"
                        rows="3"
                        ng-model="vm.messageBody"
                        focus-me="true"
                        ng-keypress="vm.pressedEnter($event)"></textarea>

                    <!--<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;-->
                    <!--<i class="fa fa-file-image-o"></i>-->

                    <a class="btn btn-raised btn-primary" ng-click="vm.sendMessage()">Send</a>
                </div>
                <!-- end chat-message -->

            </div> <!-- end chat -->

        </div> <!-- end container -->
    </div>
</div>