<div class="row">
    <div class="chatArea col-md-12">
        <messages></messages>

    </div>

    <div class="chatinput col-md-12 clearfix">
        <input ng-disabled="!vm.selectedUser" class="inputMessage"
               placeholder="Type here..."
               ng-model="vm.message"
               focus-me="true"
               ng-keydown="vm.sendMessage($event)"/>
    </div>

    <div class="col-md-12">
        <select ng-model="vm.selectedUser" ng-options="user.username for user in vm.onlineUsers"></select>
    </div>
</div>

