<ul class="messages">
    <li class="clearfix" ng-repeat="message in vm.messages">
        <div class="message-data" ng-class="{'align-right': vm.user.id !== message.sender.id}">
            <span class="message-data-time" >{{message.timestamp | date:'dd.MM.yyyy'}}</span> &nbsp; &nbsp;
            <span class="message-data-name" >{{message.sender.username}}</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message"
             ng-class="{'other-message float-right': vm.user.id !== message.sender.id, 'my-message': vm.user.id === message.sender.id}">
            {{message.body}}
        </div>
    </li>
</ul>