html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

ul, ol{
  padding: 0;
  list-style-type: none;
}
body{
  background: rgb(56, 56, 56);
}

.header-panel{
  background: black;
  color: white;
  padding: 5px;
  margin-bottom: 30px;

  h1{
    font-family: Consolas, monaco, monospace;
    color: #00e62f;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}