html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

ul, ol{
  padding: 0;
  list-style-type: none;
}
body{
  background: #BF4E2C;
}